@use "./variables";
@use "./mixins";

//Nav
.mainNav {
  color: variables.$Third-color;
  width: 70vw;
  margin: 0 5vw;

  .hamburger {
    display: none;
  }

  ul {
    height: 100%;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-items: center;

    li {
      background: rgba(0, 0, 0, 0.5);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border: 0.5px solid variables.$Fifth-color;
      border-radius: 10px;
      color: variables.$Fifth-color;
      font-size: 1.6rem;
      justify-items: space-around;
      margin: 0;
      text-decoration: none;
      text-align: center;
      padding: 1%;
      width: 25%;

      @include mixins.buttonOutlineAnimation;


      // &:hover{

      //     border: 2px solid variables.$Primary-color;
      //     background-color: variables.$Fourth-color;
      //     background: rgba(247, 179, 4, 0.7);
      //     color: variables.$Primary-color ;

      // }

      // &:focus{
      //     background-color: variables.$Primary-color;
      // }
    }
  }
}

.navLink{
    text-decoration: none;
    color: variables.$Fourth-color;

    background: transparent;

    &:active{
        color: rgba(0,0,0,0);
    }

}

@media screen and (max-width: 768px) {
  .mainNav {
    .hamburger {
      display: block;
      width: 10vw;
      position: relative;
      top: 8%;
      left: 54vw;
      background-color: blue;
      fill: variables.$Primary-color;
      border-radius: 50%;
      border: 2px solid variables.$Primary-color;
      box-shadow: 1px 3px rgba(0, 0, 0, 0.5);

      &:focus {
        background-color: variables.$Primary-color;
      }
    }

    .navMenu {
      display: none;
    }

    .navMenuExpanded {
      ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        width: 99vw;
        margin: 0;
        top: 14%;
        right: 1%;
        height: 70vh;
        background-color: darkblue;

        li {
          width: 100%;
          height: 25%;
          text-align: center;
          padding: 0 auto;
          font-size: 4rem;

          &:hover {
            color: variables.$Primary-color;
          }

          &:focus {
            color: blue;
            text-shadow: 1px solid variables.$Fourth-color;
          }
        }
      }
    }
  }
}
