@use './../components/variables';

.projectBoxShadow {
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  
  .projectBox {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    
    &:hover {

      background: rgba(0,0,0,0.2),variables.$projectHoverImg;
      opacity: 0.8;

      .projectData {
        display: inline-block;
        margin: 0;
        padding: 0;
        text-align: center;
        opacity: none;
        color: variables.$Primary-color;
      }
    }
  }
}

    .projectData{
        width: 100%;
        height: 100%;
        display:none;
        font-size: 1.5rem;

        .projectBasicData{
            // background-color: white;
            height: 25%;

            h2{
                font-weight: 700;
                height: 50%;
                margin: 0;
            }
        }
        .projectTechData{
            margin: 0;
            // background-color: blue;
            background-color: rgba(0,0,0,1);
            height: 50%;
            margin-bottom: 0;

            .gLink{
                &:hover{
                    color: variables.$Fifth-color;
                }
            }
        }
        .techTypes{
            font-size: 1.2rem;
            color: variables.$Third-color;

            h4{
                font-weight: 700;
            }
        }

    }