.gallerySection{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.galleryRow{
    background: white;
    border: 1px dashed yellow;
    display: flex;
    flex-direction: row;
    height: 25vh;
    width: 98vw;
}

//ProjectBox
// .projectContainer{
//     background: blue;
//     border: 1px dashed red;
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     width: 25vw;


//     .projectBox{
//         height: 100%;
//         width: 100%;
//         margin: 0;
//     }
// }