@use './../components/variables';
@use './../components/mixins';
@use './../components/projectContainer';

.showcaseSection{
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
    @include mixins.parallaxBackground;

    .sectionHeader{
        height: 10vh;
        width: 30vw;
        margin: 0;
        margin-left: 7vw ; 
        margin-bottom: 15vh;
        padding-top: 3vh;

        
        h1{
            color: variables.$Primary-color;
            height: 7vh;
            margin-top: 0;
            // border: 1px dashed;
            text-align: center;
            @include mixins.FontStyleOne;
        }


    }

    span{
        color:variables.$Third-color;
        font-size: 1.5rem;
        margin-left: 5vw;
    }
    .showcaseGallery{
        height: 60vh;
        display: flex;
        flex-direction: column;
        background-color: variables.$Secondary-color;

        .row{
            display: flex;
            flex-direction: row;
            height: 50%;
            margin: 0;
            padding: 0;
            
            .projectBoxShadow{
                width: 25%;
                height: 100%;
                margin: 0;
                padding: 0;
                background-position: center;
                background-size: cover;
                
                .projectBox{
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    border-radius: 10px;

                    &:hover{
                        background-image: variables.$projectHoverImg;
                        opacity: .8;

                        .projectData{
                            display:inline-block;
                            margin: 0;
                            padding:0;
                            text-align: center;
                            opacity: none;
                            color: variables.$Primary-color;
                        }
                    }

                    
                }
            }

        }
    }



}


@media screen and (max-width: 768px){

    .showcaseSection{
        height: 475vh;

        .showcaseGallery{
            width: 95%;
            margin: 0 auto;
            height: 400vh;
            // border: 1px dashed red;
            display: flex;
            flex-direction: column;


            .row{
                display: flex;
                flex-direction: column;
                height:auto;
                // background: yellow;
                width: 100%;
                height: 200vh;

                .projectBoxShadow, .projectBox{
                    width: 690px;
                    height: 700px;
                    background: cover;
                }
            }
        }
    }
}