
// @use './pages/home';
@use './components/basic';
@use './components/header';
@use './components/nav';
@use './sections/heroSection';
@use './sections/about';
@use './sections/showcaseSection';
// @use './components/projectContainer';
@use './sections/contactSection';
@use './sections/form';
@use './sections/footer';
@use './responsive';
@use './sections/gallerySection';
